.image-front1{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.image-front1 img {
    width: 100%;
    height: auto;
  }
  .text-box-appartments-story{
    padding-top: 100px;
    height: 40vh;
    width: 100%;
    background: rgb(67, 70, 71);
  }
  .text-box-app{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    
    
  }
  .text-box-app h2{
    color: white;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
  }
  .text-box-app p{
    color: white;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
  }

.unwanted{
    display: flex;
    height: 20vh;
    width: 100%;
    justify-content: center;
    background: rgb(178, 182, 194);
}
.unwanted h2{
    color: #222;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    align-content: center;
   
}


  

  .install-solar-container{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .install-solar{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .install-solar h2{
    color:rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .install-solar p{
    color:rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
  }
  @media(max-width:768px){
    .text-box-appartments-story{
      padding: 25px 0;
      height: auto;
      width: 100%;
      background: rgb(67, 70, 71);
    }
    .text-box-app{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 80%;
      
      
    }
    .text-box-app h2{
      color: white;
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 40px;
    }
    .text-box-app p{
      color: white;
      font-size: 1rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 40px;
    }


    .install-solar-container{
      height: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .install-solar{
      height: 100%;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }
  }