.contact-us {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .contact-info {
    flex: 0 0 40%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .contact-info p {
    margin: 20px 0;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  
  .contact-form {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .required {
    color: red;
  }
  
  .name-inputs {
    display: flex;
    gap: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  .submit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  .map-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .map-iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .location-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .location-button:hover {
    background-color: #218838;
  }
  

  
  @media (max-width: 768px) {
    .contact-us {
      width: 100%;
      height: auto;
      flex-direction: column;
    }
  
    .contact-info, .contact-form {
      /* flex: 1 1 auto; */
      margin-bottom: 20px;
    }
    .map-iframe {
      height: 300px;
    }
  
    .location-button {
      width: 100%;
      text-align: center;
    }
  }
  